# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS / editor files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/

# Temporary files
*.tmp

# Ignore data files but keep folder structure
data/raw/*
data/processed/*

# Keep placeholder files
!data/raw/.gitkeep
!data/processed/.gitkeep
